<!doctype html>
<html lang="en">
<head>
    <title>{{ pageTitle }}</title>
    <link rel="stylesheet" href="../../style.css">
</head>
<body>

    <div class="menu">
        <div class="search">
            <h2>{{ menuTitle }}</h2>
            <form action="index.php" method="post">
                <label for="byName">{{ labelTitle }}</label>
                <input type="text" id="byName" name="byName" required><br><br>
                <label for="perPage">{{ labelLimit }}</label>
                <input type="number" id="perPage" name="perPage" required><br><br>
                <input type="submit" name="search" value="Submit"><br><br>
            </form>
        </div>

        <h2>{{ choiceTitle }}</h2>

        <div class="trending">
            <form action="index.php" method="post">
                <input type="submit" name="trending" value="Trending GIFS"><br><br>
            </form>
        </div>
    </div>

    <div class="gifs">
        {% for gif in collectedGifs %}
            <img src="{{ gif.getUrl }}" alt="{{ gif.getTitle }}">
        {% endfor %}
    </div>

</body>
</html>